# Désactiver l'affichage des erreurs PHP
php_flag display_errors off
php_value error_reporting 0

# Redirection vers index.php pour le routage
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
