# Ce fichier est désactivé pour éviter les conflits avec le .htaccess principal
# <IfModule mod_rewrite.c>
#    RewriteEngine On
#    RewriteBase /
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteRule ^(.*)$ index.php [QSA,L]
# </IfModule>